@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

    header{
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position: relative;
    }

  .img-wrapper{
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: rgba(100, 98, 99, 0.137);

}
 .img-wrapper img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: 0.7


}
 .menu{
     position: absolute;
     top: 20%;
     left: 13%;
    width: 340px;
	height: 340px;
	border-radius: 20px;
	border: none;
	margin: auto;
	text-align:center;
    background-color:#ffffff;
    word-spacing: 2px;
    line-height: 3.0rem;

     
 }
 

  .title{
     color:rgb(58, 49, 49);
     font-size: 1.5rem;
     font-family:  "roboto slab";
     text-shadow: rgba(133, 128, 128, 0.4);
     text-align-last: center;
     
     

 }
  .subt{
    color:rgb(133, 132, 132);
    font-size: 1.2rem;
    font-family: "roboto slab";
    text-shadow: rgba(157, 153, 153, 0.4);
    margin-bottom: 2rem;



 }
 .social{
    margin-bottom: 2rem;
    justify-content: space-evenly;
    display: flex;
 }

.social i{
    color:rgb(133, 132, 132);
    font-size: 1.8rem;


}
.social i:hover{
    opacity: 0.8;
}
   
     
     
 


 .menu button {
     font-family: serif;
     font-size: 1.05rem;
     letter-spacing: .1rem;
     color:rgb(255, 255, 255);
     background-color:#A020F0;
     border: none;
     padding-bottom: 1rem;
     padding-top: 1rem;
     padding-right: 2rem;
     padding-left: 2rem ;
     border-radius: 19px;
     cursor: pointer;
 }
 .menu button:hover {
     opacity: 0.8;
 }
 



